# Ignorar entorno virtual
venv/

# Ignorar cachés de Python
__pycache__/

# Ignorar archivos comprimidos
imagenes.zip

# Ignorar solo el contenido de estas carpetas, pero no las carpetas
data/processed/**
data/raw/**

# Mantener los .gitkeep para conservar los directorios en Git
!data/processed/.gitkeep
!data/raw/.gitkeep
